body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .avatar {
    width: 150px;
    border-radius: 100%;
  }
  
  .card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #caf0f8;
    color: #2b2839;
    border-bottom: 12px solid #00b4d8;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card:hover .avatar {
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }
  

  